<img *ngIf="albumImage" src="{{albumImage}}" /><br>
<input type="file" id="image" accept="image/*" (change)="handleFileInput($event.target.files)"><br>
<button *ngIf="albumImage" (click)="removeImage()">Remover Imagem</button>

<input [(ngModel)]="album.album_name" placeholder="Nome do album" /><br>
<input [(ngModel)]="album.artist_name" placeholder="Nome do artista" /><br>
<input [(ngModel)]="album.genre" placeholder="Nome do genero" /><br>
<input [(ngModel)]="album.release_date" placeholder="Data de lancamento" /><br>

<button (click)="save()">Salvar</button>
<button *ngIf="!create" (click)="delete()">Apagar</button>